/* variable declarations 

  Background Color: --background-color-primary

  Text Color: --text-color-secondary
  Text Color Hover: --text-color-primary

  Button On Click: --active-button-background

  Box Shadow Colors: --complementary-color-primary

  Main Box Shadow Wrapper: --box-shadow-setting-primary

  Box Shadow For Other Elements: --box-shadow-setting-secondary

  General Size Factor (set by media query): --general-size-factor-px

*/
:root {
  /* --background-color-primary: rgba(0, 0, 0, 1); */
  --background-color-primary: rgba(0,0,0, 1);
  --background-color-secondary: rgba(20,20,20, 1);

  --complementary-color-primary: rgba(255, 255, 255, 1);
  /* --complementary-color-primary: rgba(20, 20, 255, 1); */

  --active-button-background: rgba(255,255,255, .5);
  
  /* --text-color-primary: rgba(20, 20, 255, 1);
  --text-color-secondary: rgba(20, 20, 255, 1); */
  --text-color-primary: rgba(255, 255, 255, 1); 
  --text-color-secondary: rgba(210, 210, 210, 1);

  /* for dynamic shadow thickness */
  --general-size-factor-px: 1px;
  /* x, y, blur, spread */
  --box-shadow-setting-primary: 0 0 calc(var(--general-size-factor-px) * 10) calc(var(--general-size-factor-px) * 10) var(--complementary-color-primary);
  --box-shadow-setting-secondary: 0 0 calc(var(--general-size-factor-px) * 10) calc(var(--general-size-factor-px) * 1) var(--complementary-color-primary);




 


  --font-size-title: calc(var(--general-size-factor-px) * 40);
  --font-size-inputs: calc(var(--general-size-factor-px) * 20);

  /* for expand/contract button */
  --font-size-button-large-shrunk: calc(var(--general-size-factor-px) * 20);

  --font-size-button-large: calc(var(--general-size-factor-px) * 40);
  --font-size-button-large-hover: calc(var(--general-size-factor-px) * 48);

  --font-size-button-medium: calc(var(--general-size-factor-px) * 30);
  --font-size-button-medium-hover: calc(var(--general-size-factor-px) * 36);


  /* transitions */
  --slow-transition: 1s ease-in-out;
  --moderate-transition: .5s ease-in-out;
  --fast-transition: .3s ease-in-out;
}


/* common for all*/
html {
  background-color: var(--background-color-primary);
  color: var(--text-color-primary);
  font-weight: 400;
  font-family:  'Gill Sans', 'Gill Sans MT', "Calibri", 'Trebuchet MS', sans-serif;
  overflow: hidden;
}

body {
  animation: opacity0to1 var(--slow-transition);
}

* {
  margin: 0;
  padding: 0;
}

input {
  border: 0;
  text-align: center;
  background-color: var(--background-color-primary);
  color: var(--text-color-secondary);
  box-shadow: var(--box-shadow-setting-secondary);
  font-size: calc(var(--general-size-factor-px) * 30);
  transition: var(--moderate-transition);
  border-radius: calc(var(--general-size-factor-px) * 20); /* any high number will do*/
  padding: calc(var(--general-size-factor-px) * 0) calc(var(--general-size-factor-px) * 4);
}
input:hover{
  color: var(--text-color-primary);
}
/* common between stopwatch and timer*/

.stopwatch-section, .timer-section {
  margin: auto;
  /* outline: dashed red 1px; */
  overflow: hidden;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: var(--slow-transition)
}

.title{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  text-wrap: nowrap;
  transition: var(--slow-transition);
  font-size: var(--font-size-title);
}

/* *************cwazy media quewies */
/***********For sizes of .stopwatch-section and .timer-section */
/*******Portrait */
@media screen and (orientation:portrait) {
  .app{
    display: flex;
    flex-direction: column;
  } 
}
/* stack using width to avoid exceeding height where 2x vw > vh 
Imagine a portrait phone more extreme/longer than 1:2..
then width is the limiting factor*/
@media screen and ( width < 50vh ) and (orientation:portrait){ /*case 1*/
  .stopwatch-section, .timer-section {
    width: 100vw;
    height: 100vw;
  }
  :root {
    --font-size-title: calc((0.0716 * 100vw) - 1.57px);
    --general-size-factor-px: (0.00188323 * 100vw);
  }
}
/* stack using height to avoid exceeding width where vh > 2x vw 
Imagine a portrait phone between 1:1 and 1:2*/
@media screen and ( width >= 50vh ) and (orientation:portrait){
  .stopwatch-section, .timer-section {
    width: 50vh;
    height: 50vh;
  }
  :root {
    --font-size-title: calc((0.0716 * 50vh) - 1.57px);
    --general-size-factor-px: (0.00188323 * 50vh);
  }
}


/************** Landscape */
@media screen and (orientation:landscape) {
  .app{
    display: flex;
    flex-direction: row;
  }
}
/* stack using width to avoid exceeding height where 2x vh > vw
Imagine a landscape phone between 1:1 and 2:1  */
@media screen and ( height > 50vw ) and (orientation:landscape) {
  .stopwatch-section, .timer-section {
    width: 50vw;
    height: 50vw; 
  }
  :root {
    --font-size-title: calc((0.0716 *50vw) - 1.57px);
    --general-size-factor-px: (0.00188323 * 50vw);
  }
}
/* stack using height to avoid exceeding width where vw > 2x vh 
Imagine a landscape phone more extreme/longer than 2:1*/
@media screen and ( height <= 50vw ) and (orientation:landscape) {
  .stopwatch-section, .timer-section {
    width: 100vh;
    height: 100vh; 
  }
  :root {
    --font-size-title: calc((0.0716 * 100vh) - 1.57px);
    --general-size-factor-px: (0.00188323 * 100vh);
  }
}

/******************** endof cwazy media quewies */




/* stopwatch */

.stopwatch-wrapper {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  /* outline: var(--complementary-color-primary) solid 1px; */
  box-shadow: var(--box-shadow-setting-primary);
  transition: var(--slow-transition);
  margin: auto;


  width: 80%;
  height: 80%;
}
/* make stopwatch into circle */
.stopwatch-wrapper-contracted {
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

/* stopwatch-button class */
.stopwatch-button{
  background: transparent;
  border: none;
  cursor: pointer;
  transition: var(--moderate-transition);
  color:var(--text-color-secondary);
  font-size: var(--font-size-button-medium);
}
.stopwatch-button:hover, .stopwatch-button:active{
  font-size: var(--font-size-button-medium-hover);
  transition: var(--fast-transition);
  color:var(--text-color-primary)
}
.stopwatch-button:active{
  background-color: var(--active-button-background);
  transition: background-color 0s !important;
}

/******** expand and contract stopwatch button */
/* default state midway preview */
.stopwatch-button.expand-contract-stopwatch {
  border-radius: 33%;
  box-shadow: var(--box-shadow-setting-secondary);
  width: var(--font-size-button-medium);
  height: var(--font-size-button-medium);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 7%;
  left: 7%;
  transition: all var(--slow-transition);
}
.stopwatch-button.expand-contract-stopwatch:hover{
  border-radius: 50%;
  width: calc(var(--font-size-button-medium) * 0.8);
  height: calc(var(--font-size-button-medium) * 0.8);
  transition: all var(--slow-transition),width var(--fast-transition), height var(--fast-transition), border-radius var(--fast-transition);
}
.stopwatch-button.expand-contract-stopwatch-contracted {
  border-radius:33%;
  transform: translate(-50%, -50%);
  top: 18%;
  left: 20%;
}
.stopwatch-button.expand-contract-stopwatch-contracted:hover{
  border-radius: 0%;
  width: var(--font-size-button-medium-hover);
  height: var(--font-size-button-medium-hover);
}

/********* buttons for start/stop button as well as lap container*/
.stopwatch-startstop-lap-container {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items:flex-start;
  transition: var(--slow-transition)
}
.stopwatch-startstop-lap-container-contracted {
  top: 65%;
}




/* stopwatch navigation buttons */
/* each */
.stopwatch-button.stopwatch-navigation-left {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 0%;
}
.stopwatch-button.stopwatch-navigation-right{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 100%;
}
/* both */
.stopwatch-navigation-inner-left, .stopwatch-navigation-inner-right{
  font-size: var(--font-size-button-large);
  transition: var(--moderate-transition);
}
.stopwatch-button:hover .stopwatch-navigation-inner-left, .stopwatch-button:hover .stopwatch-navigation-inner-right{
  font-size: var(--font-size-button-large-hover);
  transition: var(--fast-transition);
}
/* each inner with hover */
.stopwatch-button:hover .stopwatch-navigation-inner-left{
  animation: slideLeft .5s linear infinite;
}
.stopwatch-button:hover .stopwatch-navigation-inner-right{
  animation: slideLeft .5s linear infinite reverse;
}


.main-stopwatch-time{
  /* outline: white dashed 1px; */
  transform: translate(0, 0);
  transition: var(--slow-transition);
  font-size: calc(var(--general-size-factor-px) * 24);
  text-align: center;

  position: absolute;
  top: 80%;
  left: 10%;
}

.main-stopwatch-time-contracted{
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  
  font-size: calc(var(--general-size-factor-px) * 70);
}


/* ************************stopwatch label */
input.stopwatch-label-input {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 7%;
  left: 50%;
  width: 73%;
  transition: var(--slow-transition);
}
input.stopwatch-label-input-contracted {
  top: 28%;
  left: 50%;
}

/* ****** add stop watch entry button "New" */
.stopwatch-button.add-stopwatch-entry{
  position: absolute;
  top: 7%;
  left: 93%;
  transform: translate(-50%, -50%);
  transition: all var(--fast-transition), opacity .8s .5s, visibility .8s .5s;
}

.stopwatch-button.add-stopwatch-entry-contracted{
  opacity: 0;
  visibility: hidden;
  transition-delay: 0s;
  transition: var(--fast-transition)
}


/* animations */

@keyframes opacity0to1 {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
} 

@keyframes slideLeft {
  0% {
    transform: translateX(0%);
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: translateX(-50%);
  }
  51% {
    opacity: 0;
    transform: translateX(50%);
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
  }
}


/* media query */



/* scrapped media queries for  @media screen and ( width < 50vh ) and (orientation:portrait)

@media screen and ( width >= 2000px){
    :root {
      --font-size-title: 140px;
    }
  }
  @media screen and ( width >= 1800px) and ( width < 2000px){
    :root {
      --font-size-title: 130px;
    }
  }
  @media screen and ( width >= 1600px) and ( width < 1800px){
    :root {
      --font-size-title: 116px;
    }
  }
  @media screen and ( width >= 1400px) and ( width < 1600px){
    :root {
      --font-size-title: 95px;
    }
  }
  @media screen and ( width >= 1200px) and ( width < 1400px){
    :root {
      --font-size-title: 80px;
    }
  }
  @media screen and ( width >= 1000px) and ( width < 1200px){
    :root {
      --font-size-title: 70px;
    }
  }
  @media screen and ( width >= 800px) and ( width < 1000px){
    :root {
      --font-size-title: 56px;
    }
  }
  @media screen and ( width >= 700px) and ( width < 800px){
    :root {
      --font-size-title: 50px;
    }
  }
  @media screen and ( width >= 600px) and ( width < 700px){
    :root {
      --font-size-title: 40px;
    }
  }
  @media screen and ( width >= 550px) and ( width < 600px){
    :root {
      --font-size-title: 37px;
    }
  }
  @media screen and ( width >= 500px) and ( width < 550px){
    :root {
      --font-size-title: 33px;
    }
  }
  @media screen and ( width >= 450px) and ( width < 500px){
    :root {
      --font-size-title: 31px;
    }
  }
  @media screen and ( width >= 400px) and ( width < 450px){
    :root {
      --font-size-title: 27px;
    }
  }
  @media screen and ( width >= 350px) and ( width < 400px){
    :root {
      --font-size-title: 24px;
    } 
  }
  @media screen and ( width >= 300px) and ( width < 350px){
    :root {
      --font-size-title: 21px;
    }
  }
  @media screen and ( width >= 250px) and ( width < 300px){
    :root {
      --font-size-title: 17px;
    }
  }
  @media screen and ( width >= 210px) and ( width < 250px){
    :root {
      --font-size-title: 14px;
    }
  }
  @media screen and ( width >= 180px) and ( width < 210px){
    :root {
      --font-size-title: 11px;
    }
  }
  @media screen and ( width >= 150px) and ( width < 180px){
    :root {
      --font-size-title: 9px;
    }
  }
  @media screen and ( width >= 120px) and ( width < 150px){
    :root {
      --font-size-title: 7px;
    }
  }
  @media screen and ( width >= 100px) and ( width < 120px){
    :root {
      --font-size-title: 6px;
    }
  }
  @media screen and ( width >= 80px) and ( width < 100px){
    :root {
      --font-size-title: 4.5px;
    }
  }
  @media screen and ( width >= 60px) and ( width < 80px){
    :root {
      --font-size-title: 3px;
    }
  } */


